.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  align-items: end;
}
.top_btn {
  display: flex;
  gap: 32px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form_control input {
  height: 50px;
  padding: 20px 10px;
  font-size: 19px;
}
.form_control label {
  top: -12px;
  left: 10px;
  background: white;
  padding: 0 7px;
  font-size: 14px;
  position: absolute;
}
.form_control textarea {
  padding: 30px 20px;
  font-size: 20px;
}
